<a href="https://colab.research.google.com/github/Jakom001/Learning-Data-Science/blob/main/18.%20Predictive%20Model%20using%20ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Objective**: Imagine you were hired as a Data Scientist/Analyst by the Central Police Oﬃce of Metropolitan areas, and your job is now to create a predictive model for crime_rate. For now, let’s focus on building a simple decision tree.

<br> Import Libraries

In [6]:
import pandas as pd
import numpy as np



Load the dataset

In [7]:
metro = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

Let as take a look at the columns

In [8]:
metro.columns

Index(['land_area', 'percent_city', 'percent_senior', 'physicians',
       'hospital_beds', 'graduates', 'work_force', 'income', 'region',
       'crime_rate'],
      dtype='object')

Selecting the **target Variable** <br>
We will use the Dot notation to select the target variable. Here we select PRice as the target variable.

In [9]:
y = metro.crime_rate

Selecting the feature variables.
<br> Here we will use all the the remaining columns as our input variables.
<br> There are so many ways of selecting the columns. Here we will just drop the the crime_rate column.

In [10]:
feature_cols = metro.drop('crime_rate', axis =1)
X = feature_cols

Let as take a look of the first 5 entries.

In [11]:
X.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
dtypes: float64(4), int64(5)
memory usage: 7.1 KB

We can the see there no null values, Therefore there is no missing values in the dataset.

A statistical summary of the X features

In [12]:
X.describe()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,2615.727273,42.518182,9.781818,1828.333333,6345.868687,54.463636,449.366667,6762.505051,2.494949
std,3045.826210,17.348277,2.524547,3192.199763,9136.202716,7.773286,610.990885,10393.349660,1.013921
min,47.000000,13.400000,3.900000,140.000000,481.000000,30.300000,66.900000,769.000000,1.000000
25%,1408.000000,30.100000,8.350000,459.000000,2390.000000,50.250000,150.300000,2003.000000,2.000000
50%,1951.000000,39.500000,9.700000,774.000000,3472.000000,54.000000,257.200000,3510.000000,3.000000
75%,2890.500000,52.600000,10.750000,1911.500000,6386.500000,58.300000,436.500000,6283.500000,3.000000
max,27293.000000,100.000000,21.800000,25627.000000,69678.000000,72.800000,4083.900000,72100.000000,4.000000

Building a model.
steps.
1. Define the model
2. Fit the model
3. Predict the model
4. Evaluate the model

In [13]:
# We import the necessary libraries from sklearn
from sklearn.tree import DecisionTreeRegressor

# Define the object
metro_model = DecisionTreeRegressor(random_state=1)

# Fit the model
metro_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [14]:
# Predict the model
print("Prediction of the metropoiltan data")
print(X.head())
print("The prediction are:")
print(metro_model.predict(X.head()))

Prediction of the metropoiltan data
   land_area  percent_city  percent_senior  physicians  hospital_beds  \
0       1384          78.1            12.3       25627          69678
1       3719          43.9             9.4       13326          43292
2       3553          37.4            10.7        9724          33731
3       3916          29.9             8.8        6402          24167
4       2480          31.5            10.5        8502          16751

   graduates  work_force  income  region
0       50.1      4083.9   72100       1
1       53.9      3305.9   54542       2
2       50.6      2066.3   33216       1
3       52.2      1966.7   32906       2
4       66.1      1514.5   26573       4
The prediction are:
[75.55 56.03 41.32 67.38 80.19]

In [15]:
# Evaluate the model